* {
	color: white;
	margin: 0px;
	padding: 0px;
	text-decoration: none;
}

.container-principal {
	background: black;
	height: 100%;
	width: 100%;
	padding: 0px;
}
/*----------------------------------------------NAVEGADOR----------------------------------------------*/
#navbar {
	position: fixed;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 10;
	height: 3rem;
	padding: 0px 20%;
}
.text-nav {
	display: flex;

	justify-content: center;
}
.text-box {
	height: 3rem;
	width: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.text-box > a {
	text-decoration: none;
	color: white;
}
.text-box > a:hover {
	color: rgb(197, 179, 76);
	text-decoration: underline rgba(192, 171, 50, 0.9);
	transition: 0.5s;
}
.icono-barra:hover,
.text-box:hover {
	transition: 0.5s;
	background-color: rgba(0, 0, 0, 0.1);
}
/*--------------------HEADER----------------------*/
.header {
	background-image: url(night-4702174.jpg);
	background-size: cover;
	height: 100vh;
	display: flex;
	align-items: center;
}

.text-header {
	text-align: center;
	font-weight: 900;
	font-style: oblique;
	font-size: 350%;
}

/*--------------------ABOUT-ME----------------------*/
.container-about {
	background: #435d80;
	z-index: 0;
	padding: 15px;
	padding: 3.75rem 1rem;
}
.row-about {
	justify-content: center;
	align-items: center;
	text-align: center;
}

.about-image {
	height: 23vh;
	width: 23vh;
	border-radius: 100%;
	margin-bottom: 20px;
}
.about-text {
	height: 20%;
}

/*---------------------SKILLS--------------- ---------*/
.container-skills {
	background-color: #55d9ddde;
	padding: 3rem;
}

.icons-skills {
	padding: 10px;
	border-radius: 10px;
	margin: 10px 0px;
	background-color: #5adce0;
	box-shadow: 1px 2px 2px rgb(39, 38, 38);
}
.icons-skills i {
	font-size: 100px;
}

/*--------------------PROYECTS-------------- ---------*/
.container-proyects {
	height: 50vh;
	background: #55dd99de;
}
/*---------------------CONTACT-------------- ---------*/
.container-contact {
	height: 50vh;
	background: rgba(214, 200, 200, 0.2);
}

.form {
	display: block;
}
