* {
	color: white;
	margin: 0px;
	padding: 0px;
	text-decoration: none;
}
.row {
	height: 100%;
	width: 100%;
	margin: 0;
}

.container-principal {
	background: black;
	height: 100%;
	width: 100%;
	padding: 0px;
}
/*----------------------------------------------NAVEGADOR----------------------------------------------*/
#navbar {
	position: fixed;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 10;
	height: 3rem;
	padding: 0px 20%;
}
.text-nav {
	display: flex;

	justify-content: center;
}
.text-box {
	height: 3rem;
	width: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.text-box > a {
	text-decoration: none;
	color: white;
}
.text-box > a:hover {
	color: rgb(197, 179, 76);
	text-decoration: underline rgba(192, 171, 50, 0.9);
	transition: 0.5s;
}
.icono-barra:hover,
.text-box:hover {
	transition: 0.5s;
	background-color: rgba(0, 0, 0, 0.1);
}
/*--------------------HEADER----------------------*/
.header {
	background-image: url(night-4702174.jpg);
	background-size: cover;
	height: 100vh;
}

.header > .row {
	margin: 0px;
}

.text-header {
	padding: 15px;
	font-weight: 900;
	font-style: oblique;
	font-size: 350%;
}

/*--------------------ABOUT-ME------------- 205081---------*/
.container-about {
	background: #435d80; /*------gris o azul oscuro*/
	z-index: 0;
	padding: 15px;
	padding: 3.75rem 0rem;
}
.row-about {
	justify-content: center;
	align-items: center;
	text-align: center;
}
.row-about > .col > .text-header > a {
	text-decoration: none;
}
.about-image {
	height: 22vh;
	width: 22vh;
	border-radius: 100%;
	margin-bottom: 20px;
}
.about-text {
	height: 20%;
}

/*---------------------SKILLS--------------- ---------*/
.container-skills {
	background-color: #55d9ddde;

	padding: 5%;
}
.row-skills {
	grid-template-columns: 100px;
	grid-template-rows: 100px;
}
.icons-skills i {
	font-size: 100px;
}

/*--------------------PROYECTS-------------- ---------*/
.container-proyects {
	height: 50vh;
	background: #55dd99de;
}
/*---------------------CONTACT-------------- ---------*/
.container-contact {
	height: 10vh;
	background: rgba(214, 200, 200, 0.2);
}
